body{
    padding: 10px;
}
.info{
   font-size: large;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    margin-bottom: 60 px;
   }
   .info1{
    font-size: large;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   }