     body{
        padding: 10px;
    }
    .plan{
       font-size: large;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1{
        margin-bottom: 60 px;
       }
    